<html>
	<head>
	</head>
	<body>
    <p>Welcome to Buzzly!</p>
    <p>Thanks for signing up! You can create your first referral campaign straight away with the following link:</p>
    <a href="https://www.buzzlyapp.com/dashboard/?msg=welcome?utm_source=welcomemail">https://www.buzzlyapp.com/dashboard/?msg=welcome</a>
    <p>If you have any questions, issues or ideas, you can reach me anytime on this e-mail address. I live in Berlin (UTC+1), so on some hours I might be asleep, but I'll always do my best to respond within 12 hours.</p>
    <p>Best regards,</p>
    <p>Team Buzzly.</p>
  </body>
</html>
